/*Style the accordion section*/
.accordionSection {
  display: flex;
  flex-direction: column;
}

/*style the buttons that are used to open and close the accordion panel*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border:none;
  transition: background-color 0.6s ease;
}

.accordion:hover,
.accordion.active {
  background-color: #ccc;
}

/*style the accordion content title*/
.accordionTitle {
  font-weight: 600;
}

/*style the accordion chevron icon*/
.accordionIcon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/*style to rotate icon when state is active*/
.rotate {
  transform: rotate(90deg);
}

/*style the accordion content panel (Note: hidden by defaut)*/
.accordionContent {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  max-height: 100px;
}

/*style the accordion content text*/
.accordionText {
  font-weight: 400;
  padding: 18px;
}