/*positon text in HomeCard.js*/
.parent {
  margin-top: 45vh; 
  transform: translateY(-50%);
}

.welcomeTitle {
  font-size: 2em;
}

.myName {
  font-size: 2.5em;
  font-weight: bolder;
  color: #007bff;
}

.glassmorph {
  background: rgba(255,255,255, 0.04);
  backdrop-filter: blur(30px);
}