body {
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(24,24,24,1)95%) no-repeat fixed, url("./components/img/bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  height: 94vh;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
